html, body {
    margin: 0;
    padding: 0;
}

body {
    overflow-x: hidden;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #314F40;
    opacity: 0.8;
    position: fixed;
    top: 0;
    width: 100%;
    height: 70px;
    z-index: 1000;
}


nav ul {
    list-style: none;
    overflow: hidden;
    margin: 0;
}

nav li {
    float: left;
    font-family: "Oswald", sans-serif;
    font-size: 18px;
    font-weight: 400;
    padding: 0 20px;
}

a {
    text-decoration: none;
    font-family: sans-serif;
    color: #ffffff;
}

.company-logo {
    display: inline-flex;
    align-items: center;
    padding: 0 20px;
}

.company-logo h4 {
    color: #ffffff;
}

header {

}



.hero-section {
    background-color: #ffffff;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 100%;
    text-align: center;
    z-index: 1
}

.hero-image {
    background-size: cover;
    height: 600px;
    z-index: 3;
}

.hero-text {
    color: #893f04;
    text-align: left;
    padding: 20px 80px 20px 60px;
}

.button {
    border: 2px solid #314F40;
    background-color: #314F40;
    color: #f4f4f4;
    opacity: 0.8;
    width: 200px;
    padding: 5px 10px;
}
h1 {
    color: #893f04;
    font-size: 60px;
    font-family: sans-serif;
}

h3 {
    color: #893f04;
    font-size: 40px;
    font-family: sans-serif;
}

h4 {
    color: #893f04;
    font-size: 25px;
    font-family: sans-serif;
}

.logo {
    padding-right: 20px;
    height: 50px;
}

/*.btn-1 {*/
/*    display: flex;*/
/*    justify-content: center;*/
/*    position: relative;*/
/*    top: 350px;*/
/*    margin: 0 auto;*/
/*    width: 200px;*/
/*    background-color: #314F40;*/
/*    color: #f5f5dc;*/
/*    opacity: 0.8;*/
/*    border: 2px solid #f5f5dc;*/
/*    padding: 10px 20px;*/
/*    font-size: 20px;*/
/*    font-family: sans-serif;*/
/*    cursor: pointer;*/
/*    z-index: 3;*/
/*}*/


/*!* Universal Styles *!*/
/*body {*/
/*  margin: 0px;*/
/*  background-color: whitesmoke;*/
/*  font-family: 'Rock Salt', cursive;*/
/*  text-align: center;*/
/*}*/

/*.secondary-background {*/
/*  background-color: snow;*/
/*}*/

/*.tagline {*/
/*  font-family: 'Quicksand', sans-serif;*/
/*  color: lightslategrey;*/
/*  line-height: 125px;*/
/*}*/

/*!* Header *!*/


/*h1 {*/
/*  margin: 0;*/
/*  background-color: steelblue;*/
/*  line-height: 100px;*/
/*  color: khaki;*/
/*}*/

/*h2 {*/
/*  margin: 10px;*/
/*}*/

/*!* App Container *!*/
/*.container {*/
/*  border: 2px solid snow;*/
/*  display: flex;*/
/*}*/

/*!* To Do Section *!*/
/*.week {*/
/*  display: inline-flex;*/
/*  flex-direction: column;*/
/*  flex-grow: 3;*/
/*}*/

/*.row {*/
/*  flex-wrap: wrap;*/
/*  min-height: 200px;*/
/*  display: flex;*/
/*  justify-content: space-around;*/
/*  align-items: center;*/
/*}*/

/*.square {*/
/*  display: flex;*/
/*  width: 125px;*/
/*  height: 125px;*/
/*  padding: 10px;*/
/*  justify-content: center;*/
/*  align-items:  center;*/
/*}*/

/*.day.square {*/
/*  background-color: steelblue;*/
/*  border: 1px solid white;*/
/*}*/

/*.task.square {*/
/*  background-color: khaki;*/
/*  border: 1px solid white;*/
/*}*/

/*.task p {*/
/*  font-family: 'Quicksand', sans-serif;*/
/*  font-weight: 700;*/
/*  font-size: 12px;*/
/*}*/

/*!* Reminders *!*/
/*.reminders {*/
/*  display: inline-flex;*/
/*  flex-grow: 2;*/
/*  background-color: khaki;*/
/*}*/

/*.reminders h3 {*/
/*  width: 100%;*/
/*  margin: 10px;*/
/*  color: black;*/
/*  line-height: 90px;*/
/*  font-size: 24px;*/
/*}*/

/*!* Footer *!*/
/*footer {*/
/*  font-size: 24px;*/
/*}*/